* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #1e1e1e;
	width: 100vw;
}

main {
	width: 100vw;
}

.whiteText {
	color: white;
}

.redText {
	color: red;
}

.flex {
	display: flex;
}

.corsivo {
	font-style: italic;
}

.grassetto {
	font-weight: bold;
}

/********************************IMPORTANT********************************/
/*******************!STILI GENERALI PER OGNI DIMENSIONE*******************/
.CanvasDimensionsWrapper input {
	border-style: solid;
	background-color: #1e1e1e;
	color: white;
	height: 100%;
	font-family: 'Times New Roman', Times, serif;
}

@media screen and (min-width: 768px) and (max-width: 1239px) {
	.sliderWrapper {
		flex-basis: 33.3%;
		text-align: center;
	}

	div.formWrapper form {
		justify-content: space-around;
	}

	.formWrapper {
		margin-top: 0.75vh;
	}

	#resetBTN {
		margin-left: 42.8385vw;
		margin-right: 42.8385vw;
		width: 14.2329vw;
		height: 3.003vh;
		min-height: 18px;
		margin-top: 1.5015vh;
	}

	.info.flex {
		margin-top: 1.5015vh;
	}

	#redex {
		background-color: #ff0000;
	}

	#greenex {
		background-color: #008000;
	}

	.infoLabel {
		display: flex;
		align-items: center;
	}

	#greenex,
	#redex,
	.infoLabel {
		flex-basis: 0.125%;
		flex-grow: 2;
	}

	.CanvasDimensionsWrapper {
		flex-basis: 50%;
		text-align: center;
	}

	#canvasDiv {
		margin-top: 3.003vh;
		text-align: center;
	}
}

@media screen and (min-width: 1240px) {
	#resetBTN {
		width: auto;
		height: auto;
		margin-top: 0;
		margin-right: 0;
	}

	.formWrapper {
		padding-top: 2.653vh;
		padding-bottom: 2.653vh;
		margin-bottom: 2.653vh;
		padding-left: 1.327vh;
	}

	canvas {
		/*!NON FUNGE, DEVE RESIZE ANCHE IL CANVAS MA NON FUNGE
		/*margin-left: 10px;*/
		/*margin-left: 36.979vw; /*? Da fare dinamico con le VU */
		/*margin-right: 36.979vw; /*? Da fare dinamico con le VU */
		max-width: 100%;
		/*width: 26.0416666vw !important;
		height: 53.07855626326964vh !important;*/
	}

	#canvasDiv {
		margin-left: 36.979vw;
		margin-right: 36.979vw;
	}

	.sliderWrapper {
		flex-basis: 33.3%;
		text-align: center;
	}

	div.formWrapper form {
		justify-content: space-around;
	}

	div.formWrapper {
		background-color: rgb(110, 110, 110);
	}

	/*div.formWrapper form div:nth-child(2).sliderWrapper {
		margin-top: 2vh;
		margin-bottom: 2vh;
	}*/

	#resetBTN {
		margin-left: 0.651vw;
		margin-bottom: 2vh;
	}

	#redex {
		background-color: #ff0000;
		width: 0.9765vw;
		min-width: 15px;
		height: 1.99vh;
		min-height: 15px;
		margin-left: 0.651vw;
		margin-right: 0.651vw;
	}

	#greenex {
		background-color: #008000;
		width: 0.9765vw;
		min-width: 15px;
		height: 1.99vh;
		min-height: 15px;
		margin-left: 1.953vw;
		margin-right: 0.651vw;
	}

	.CanvasDimensionsWrapper {
		margin-left: 3.255vw;
	}

	.CanvasDimensionsWrapper input {
		width: 55px;
	}

	.info {
		margin-bottom: 0.663vw;
	}

	main h2 {
		text-align: center;
		margin-bottom: 1.3269vh;
	}

	main section {
		text-align: justify;
	}

	section {
		margin-left: 19.9869vw;
		margin-right: 19.9869vw;
		margin-top: 2.6539vh; /*20px su desktop*/
		font-size: 17px;
	}

	ul {
		margin-left: 19.9869vw;
		margin-right: 19.9869vw;
		width: auto;
		margin-top: 1.9904vh; /*15px su desktop*/
		font-size: 17px;
	}
}
