* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #1e1e1e;
}

.whiteText {
	color: white;
}

.flex {
	display: flex;
}

.formWrapper {
	padding-top: 2.653vh;
	padding-bottom: 20px;
	margin-bottom: 2.653vh;
	padding-left: 10px;
}
/*todo SISTEMA TUTTE LE MISURE IN VIEWPORT O %*/
canvas {
	/*margin-left: 10px;*/
	margin-left: 568px; /*? Da fare dinamico con le VU */
	margin-right: 568px; /*? Da fare dinamico con le VU */
}

div.formWrapper form {
	justify-content: space-around;
}

div.formWrapper {
	background-color: rgb(110, 110, 110);
}

div.formWrapper form div:nth-child(2).sliderWrapper {
	/*margin-top: 2vh;
	margin-bottom: 2vh;*/
}

#resetBTN {
	margin-left: 10px;
	margin-bottom: 2vh;
}

#redex {
	background-color: #ff0000;
	width: 15px;
	height: 15px;
	margin-left: 10px;
	margin-right: 10px;
}

#greenex {
	background-color: #008000;
	width: 15px;
	height: 15px;
	margin-left: 30px;
	margin-right: 10px;
}

.CanvasDimensionsWrapper {
	margin-left: 50px;
}

.CanvasDimensionsWrapper input {
	border-style: solid;
	background-color: #1e1e1e;
	color: white;
	width: 55px;
	font-family: "Times New Roman", Times, serif;
}

.info {
	margin-bottom: 5px;
}
